body{
    margin: 0;
    background-color: teal;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 200px;
}

.container{
    width: 300px;
    height: 300px;
    border: 2px solid white;
    animation: orbit 4s linear infinite;
    border-radius: 50%;
}
.box{
    width: 100px;
    height: 100px;
    background-color: white;
    /* transition: 1s ease;     */
    /* animation-name: circles; */
    /* animation-name: orbit; */
animation-duration: 1s;
animation-iteration-count: infinite;
animation-direction: normal;
animation-timing-function: linear;
/* flex-direction: column; */

border-radius: 50%;
}
.dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    border-radius: 50%;
    animation:  up-down 2s ease infinite alternate;

}
.dot:nth-child(2){
    animation-delay: 0.1s;
}
.dot:nth-child(3){
    animation-delay: 0.2s;
}
.dot:nth-child(4){
    animation-delay: 0.3s;
}
.loader{
    display: flex;
    align-items:center ;
    justify-content: center;
    gap: 10px;
}
@keyframes up-down{
    from{
        transform: translatey(-10px);
    }
    to{
        transform: translatey(10px);
    }
}
    /* animation-delay: 2s; */
    /* animation-iteration-count: infinite;
    /* animation-direction: reverse; */
    /* animation-direction: alternate; */
    /* animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both; */

@keyframes orbit{ 
    from{
transform: rotate(0);
    }to{
transform: rotate(360deg);
    }
}
@keyframes slide-in{
    0%{
        transform: translate(-400px);
    }
    100%{
        transform: translate(200px);
    }
}
.box:hover{
    transform: translate(200px);
}
@keyframes circles{
    0%,100%{
transform: translate(0,0);
    }
    25%{
transform: translate(200px,0);
    }
    50%{
transform: translate(200px,200px);
    }
    75%{
        transform: translate(0,250px);
    }
}